

/* Remove margins and padding from the parent ul */
.myUL {
	background-color:#f8f8f8;
	padding:10px
  margin: 0;
  padding: 0;
}

ul, .myUL {
  list-style-type: none;
}

.myUL li {
  padding:8px;
  font-size:17px;
}

/* Style the caret/arrow */
.jscaret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  font-size:17px
}

/* Create the caret/arrow with a unicode, and style it */
.jscaret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
  font-size:12px
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.jscaret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.jsnested {
  display: none;
  font-size:15px
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.jsactive {
  display: block;
}

